.home-welcome {
    height: 200px;
    margin-bottom: 35px;
    border-radius: 26px;
    background: linear-gradient(to right, #00313C 0%, #00252D 100%);
    display: flex;
    flex-direction: row;
  
    .welcome-text{
      margin-left: 40px;
      margin-top: 85px;
  
      h2{
        font-family: 'Quicksand', sans-serif;
        font-size: 36px;
        font-weight: 800;
        color: #F5F4F2;
      }
    }
  
    .img{
      max-width: 398px;
      margin-right: 15px;
      margin-left: auto;
    }
  }
  