.main-container{
    width: 431px;
    height: 132px;
    border-radius: 18px;
    background-color: #E6FEF9;

    display: flex;
    flex-direction: row;

    padding: 10px;
    gap: 23px;

    .col-1{
        width: 156px;
        height: 112px;
        overflow: hidden; 
        border-radius: 10px; 

        .meal-image {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            display: block; 
        }
    }

    .col-2{
        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 222px;
        height: 100%;
        .row-1{

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .text{
                display: flex;
                flex-direction: column;
                gap: 6px;

                h2{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: bold;
                    font-size: 32px;
                    color: #00313C;
                }

                span{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    color: #66838A;
                }
            }

            .option {
                display: flex;
                gap: 2px; 
                
                .circle {
                  width: 7.24px;
                  height: 7.24px;
                  background-color: #00313C;
                  border-radius: 50%; 
                  flex-shrink: 0;
                }
              }
        }

        .row-2{
            max-width: 68px;
            height: 24px;
            overflow: hidden; 

            app-tags{
                width: 100%;
                height: 100%;
                object-fit: cover; 
                display: block; 
            }
        }
    }
}