<div class="meal-intake-container">
    <app-menu-bar (mobileMenuToggle)="onMobileMenuToggle($event)"></app-menu-bar>
  
    <!-- DEFAULT VIEW -->
    <ng-container *ngIf="currentView === 'default'">
      <div class="main-container" [class.mobile-menu-open]="isMobileMenuOpen">
        <div class="row-1">
          <app-back></app-back>
          <div class="search-bar">
            <app-search-bar></app-search-bar>
          </div>
          <app-notif></app-notif>
        </div>
        <div class="row-2">
          <app-filter-icon></app-filter-icon>
          <ng-container *ngFor="let filterOption of filterOptions">
            <app-filter-options [filterText]="filterOption"></app-filter-options>
          </ng-container>
        </div>
        <div class="row-3">
          <app-main-options 
              iconSrc="assets/icons/add-icon.svg"
              optionText="新增攝取紀錄"
              altText="Add Intake Icon"
              backgroundColor="#00313C"
              textColor="#E6FEF9"
              (click)="navigateToAddIntake()">
          </app-main-options>
          <app-main-options 
              iconSrc="assets/icons/all-icon.svg"
              optionText="查詢所有紀錄"
              altText="See All Logs Icon"
              backgroundColor="#40C1AC"
              textColor="#E6FEF9"
              (click)="navigateToAllLogs()">
          </app-main-options>
          <app-main-options 
              iconSrc="assets/icons/print-icon.svg"
              optionText="列印攝取紀錄"
              altText="Print Intake Logs Icon"
              backgroundColor="#E6FEF9"
              textColor="#00313C"
              (click)="navigateToPrintLogs()">
          </app-main-options>
        </div>
        <div class="row-4">
          <div class="text-title">
            近期攝取紀錄
          </div>
          <app-date-container></app-date-container>
        </div>
        <div class="row-5">
          <app-intake-log 
              time="午餐"
              assignedMeal="L-01-A"
              [originalVolume]="300"
              [remainingPercent]="40"
              [remainingVolume]="135">
          </app-intake-log>
          <app-intake-log 
              time="晚餐"
              assignedMeal="D-01-A"
              [originalVolume]="350"
              [remainingPercent]="25"
              [remainingVolume]="87">
          </app-intake-log>
        </div>
      </div>
    </ng-container>
  
    <!-- ADD INTAKE VIEW -->
    <ng-container *ngIf="currentView === 'add'">
      <div class="main-container">
        <div class="row-1">
          <app-back (click)="currentView = 'default'"></app-back>
          <div class="search-bar">
            <app-search-bar></app-search-bar>
          </div>
          <app-notif></app-notif>
        </div>
        <!-- Add intake form content here -->
        <h2>Add Intake</h2>
      </div>
    </ng-container>
  
    <!-- ALL LOGS VIEW -->
    <ng-container *ngIf="currentView === 'all'">
      <div class="main-container">
        <div class="row-1">
          <app-back (click)="currentView = 'default'"></app-back>
          <div class="search-bar">
            <app-search-bar></app-search-bar>
          </div>
          <app-notif></app-notif>
        </div>
        <!-- Display all intake logs here -->
        <h2>Display All Intake</h2>
      </div>
    </ng-container>
  
    <!-- PRINT LOGS VIEW -->
    <ng-container *ngIf="currentView === 'print'">
      <div class="main-container">
        <div class="row-1">
          <app-back (click)="currentView = 'default'"></app-back>
          <div class="search-bar">
            <app-search-bar></app-search-bar>
          </div>
          <app-notif></app-notif>
        </div>
        <!-- Print intake logs content here -->
        <h2>Print Intake Log</h2>
      </div>
    </ng-container>
  </div>
  