.filter-icon {
    width: 52px;
    height: 52px;
    background-color: #E6FEF9;
    border-radius: 16px;
    cursor: pointer;
    background-image: url('../../assets/icons/filter-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}