.main-container{
  width: 248px;
  height: 260px;
  border-radius: 24px;
  background-color: #E6FEF9;

  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .row-1{
      display: flex;
      flex-direction: row;
      .heart-rate{
          display: flex;
          flex-direction: column;
          flex: 1;

          span{
              font-family: 'Quicksand', sans-serif;
              font-weight: 500;
              font-size: 16px;
              color: #00313C;
          }

          .value{
              font-family: 'Quicksand', sans-serif;
              font-weight: bold;
              font-size: 40px;
              color: #00313C;

              .unit {
                  font-family: 'Onest', sans-serif;
                  font-size: 20px; 
                  font-weight: 500; 
                  color: #40C1AC;
                  margin-left: 2px; 
                }
          }
      }
      .option {
          display: flex;
          gap: 2px; 
          
          .circle {
            width: 7.24px;
            height: 7.24px;
            background-color: #00313C;
            border-radius: 50%; 
            flex-shrink: 0;
          }
        }
  }

  .row-2{
      display: flex;
      flex-direction: row;

      span{
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #00313C;
      }

      .value{
          font-family: 'Quicksand', sans-serif;
          font-weight: bold;
          font-size: 40px;
          color: #00313C;

          .unit {
              font-family: 'Onest', sans-serif;
              font-size: 20px; 
              font-weight: 500; 
              color: #40C1AC;
              margin-left: 2px; 
            }
      }
  }

  .row-3{
      height: 24px;
      width: 88px;
  }
}