.main-container {
  flex: 1 1 0;       
  min-width: 0;       
  height: auto;
  border-radius: 24px;
  background-color: #E6FEF9;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .row-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 0;

    .heart-rate {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
      min-width: 0;

      span {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #00313C;
      }

      .value {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 28px;
        color: #00313C;

        .unit {
          font-family: 'Onest', sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #40C1AC;
          margin-left: 2px;
        }
      }
    }

    .option {
      display: flex;
      gap: 2px;

      .circle {
        width: 7px;
        height: 7px;
        background-color: #00313C;
        border-radius: 50%;
        flex-shrink: 0;
      }
    }
  }

  .row-2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-width: 0;

    span {
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #00313C;
    }

    .value {
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
      font-size: 28px;
      color: #00313C;

      .unit {
        font-family: 'Onest', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #40C1AC;
        margin-left: 2px;
      }
    }
  }

  .row-3 {
    height: 24px;
    width: 88px;
  }

  @media (min-width: 1024px) {
    max-width: 190px;
    justify-content: space-between;
  }

  /* ---------- 1280px+ DESKTOP STYLE ---------- */
  @media (min-width: 1280px) {
    min-width: 248px;
    height: 260px;
    padding: 25px;
    gap: 24px;

    .row-1 {
      .heart-rate {
        span {
          font-size: 16px;
        }

        .value {
          font-size: 40px;

          .unit {
            font-size: 20px;
          }
        }
      }

      .option .circle {
        width: 7.24px;
        height: 7.24px;
      }
    }

    .row-2 {
      span {
        font-size: 16px;
      }

      .value {
        font-size: 40px;

        .unit {
          font-size: 20px;
        }
      }
    }

    .row-3 {
      height: 24px;
      width: 88px;
    }
  }
}
