<div class="search" (click)="toggleSearch()">
  <img src="assets/icons/search-icon.svg" alt="Search Icon" class="search-icon">
  @if (isSearchActive) {
    <input
      type="text"
      class="search-input"
      [placeholder]="placeholder"
      [(ngModel)]="searchQuery"
      (blur)="onSearchBlur()"
      (keyup.enter)="performSearch()"
      (input)="searchChanged.emit(searchQuery)"
      #searchInput>
  }
  @if (!isSearchActive) {
    <span class="search-text">{{ placeholder }}</span>
  }
</div>