.progress-container {
    position: relative;
    width: 15px; 
    height: 100%; 
    background-color: #CEEFE8; 
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    
    .progress-bar {
      width: 100%;
      background-color: #40C1AC; 
      border-radius: 60px;
      transition: height 0.3s ease; 
      min-height: 0; 
    }
  }