.filter-option{
    min-width: 150px;
    max-width: 160px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #E6FEF9;
    border-radius: 16px;
    color: #00313C;
    padding-left: 20px;
    padding-right: 20px;
} 