<div class="header">
    <div class="title">
        <div class="logo">
            <img src="../../../../assets/logo/SpoonFull_Logo_v2.png" alt="SpoonFull logo">
        </div>
        <div class="current-nav">
            <span>{{this.ltcname}}</span>
        </div>
        <div class="user">
            <mat-icon [style.color]="'#F8FFFE'">person</mat-icon>
            <span class="username">{{ this.username }}</span>
        </div>
    </div>
    <div class="menu-options">
        <div class="menu">
            <div class="menu-item" *ngFor="let option of menuOptions">
                <button
                  [class.selected]="option.isSelected"
                  (click)="selectOption(option)"
                  class="menu-option-button"
                >
                  {{ option.text }}
                </button>
              
                <div class="dropdown" *ngIf="option.children">
                  <button
                    *ngFor="let child of option.children"
                    class="dropdown-option"
                    (click)="selectOption(child)"
                  >
                    {{ child.text }}
                  </button>
                </div>
              </div>              
          </div>
          
        <div class="search">
            <app-search-bar></app-search-bar>
        </div>
        <div class="notif">
            <app-notif></app-notif>
        </div>
    </div>
</div>