<div class="main-container">
    <div class="row-1">
        <div class="name">
            <span>病人</span>
            <h2 class="value">{{ roomBed }}</h2>
        </div>
        <div class="option-wrapper">
            <div class="option">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="water-intake">
            <span>推薦飲水量</span>
            <h2 class="value">2.0<span class="unit">L/d</span></h2>
        </div>
        <div class="protein-intake">
            <span>建議蛋白質攝取量</span>
            <h2 class="value">75<span class="unit">g/d</span></h2>
        </div>
    </div>
</div>
