:host {
    display: block;
    background-color: #CAECE5;
    min-height: 100vh;
    width: 100%;
  }
  
  .ingredients-container {
    display: flex;
    flex-direction: row;
  }
  
  .main-container {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  
    div {
      width: 883px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .row-1{
    gap: 15px;
  }
  
 .search-bar{
  flex: 1; 
    
    app-search-bar {
      width: 100%;
      height: 100%;
      display: block;
    }
 }

 .row-2{
    //gap: 15px;
    margin-top: 15px;
    margin-bottom: 42px;
  }

  .row-4{
    margin-top: 32px;

    h2{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 32px;
        color: #00313C;
    }
  }

  .row-5 {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: 883px;
    margin-top: 32px;
    height: 364px;
    
    app-ingredients-categories {
      width: 100%;
      display: block;
    }
  }