.back-btn {
    width: 52px;
    height: 52px;
    background-color: #00313C;
    border-radius: 16px;
    cursor: pointer;
    background-image: url('../../assets/icons/back-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}