.main-container{
    height: 100%;
    width: 520px;
    background-color: #E6FEF9;
    border-radius: 16px;
    padding: 40px 45px;

    .content{
        width: 100%;
        height: 233px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        .row-1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .text{
                display: flex;
                flex-direction: column;
                gap: 5px;
                h2{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    color: #00313C;
                }
    
                span{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    color: #00313C;
                }
            }

            .view-report{
                height: 24px;
                width: 120px;

                app-see-history-button {
                    width: 100%;  
                    height: 100%; 
                    display: block;
                }
            }
        }

        .row-2{
            width: 100%;
            height: 180px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .classifier{
                width: 200px;
                height: 169px;
                display: flex;
                flex-direction: row;

                .legend{
                    height: 100%;
                    flex: 1;

                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }
            }

            .chart{
                height: 180px;
                width: 180px;
                border: 1px solid black;
            }
        }
    }
}