<div class="main-container">
    <div class="content">
        <div class="row-1">
            <div class="text">
                <h2>營養攝取</h2>
                <span>*每 000 位住民</span>
            </div>
            <div class="view-report">
                <app-see-history-button buttonText="檢視整體報告"></app-see-history-button>
            </div>
        </div>
        <div class="row-2">
            <div class="classifier">
                <div class="legend">
                    <app-intake-legend 
                        *ngFor="let legend of nutritionLegends"
                        [legendColor]="legend.color"
                        [legendText]="legend.text"
                        [legendPercent]="legend.percent">
                    </app-intake-legend> 
                </div>
            </div>
            <div class="chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
</div>