<div class="meal-item">
    <div class="col-1">
        <img [src]="mealImageSrc" [alt]="mealImageAlt" class="meal-image">
    </div>
    <div class="col-2">
        <div class="row-1">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="row-2">
            <h1>{{ mealCode }}</h1>
        </div>
        <div class="row-3">
            <div class="first">
                <span>{{ dayCycleLabel }}</span>
                <span>{{ dayCycleValue }}</span>
            </div>
            <div class="second">
                <span>{{ mealTimeLabel }}</span>
                <span>{{ mealTimeValue }}</span>
            </div>
        </div>
        <div class="row-4">
            <span>{{ plateTypeLabel }}</span>
            <div class="type">
                <span>{{ plateTypeValue }}</span>
            </div>
        </div>
    </div>
</div>