.meal-item{
    width: 430px;
    height: 316px;
    border-radius: 24px;
    background-color: #E6FEF9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 24px;
    gap: 25px;

    .col-1{
        width: 192px;
        height: 270px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        .meal-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
    }

    .col-2{
        width: 167px;
        height: 270px;

        .row-1{
            height: 8px;

            .circles {
                display: flex;
                gap: 4px; // 4px spacing between circles
                align-items: center;
                justify-content: right;
                
                .circle {
                  width: 7.24px;
                  height: 7.24px;
                  border-radius: 50%; 
                  background-color: #00313C; 
                }
              }
        }

        .row-2{
            height: 54px;
            margin-top: 45px;
            display: flex;
            align-items: center;
            justify-content: left;

            h1{
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                font-size: 40px;
                color: #00313C;
                margin: 0;
                padding: 0;
                line-height: 1;
            }
        }

        .row-3{
            height: 58px;
            margin-top: 30px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div{
                display: flex;
                justify-content: space-between;

                span{
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    color: #00313C;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                }
            }
        }

        .row-4{
            height: 35px;
            margin-top: 25px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span{
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                font-size: 20px;
                color: #00313C;
                margin: 0;
                padding: 0;
                line-height: 1;
            }

            .type{
                width: 68px;
                height: 100%;
                border-radius: 24px;
                background-color: #00313C;

                display: flex;
                align-items: center;
                justify-content: center;

                span{
                    color: #E6FEF9;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                }
            }
        }
    }
}