<div class="intake-container">
  <div class="row-1">
    <div class="icon">
      <img [src]="iconSrc" [alt]="displayTime + ' Icon'">
    </div>
    <span class="time">{{ displayTime }}</span>
    <div class="option">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>

  <div class="row-2">
    <div class="assigned-meal">
      <span>膳食代碼</span>
      <h2 class="value">{{ formattedAssignedMeal }}</h2>
    </div>
    <div class="original-volume">
      <span>原始重量</span>
      <h2 class="value">{{ weight }}<span class="unit">g</span></h2>
    </div>
  </div>

  <div class="row-3">
    <div class="remaining-percent">
      <span>剩餘比例</span>
      <h2 class="value">{{ percent }}<span class="unit">%</span></h2>
    </div>
    <div class="remaining-volume">
      <span>剩餘容量</span>
      <h2 class="value">{{ volume }}<span class="unit">mL</span></h2>
    </div>
  </div>

  <div class="row-4">
    <app-tags tagText="舊資料匯入" [showCloseButton]="false"></app-tags>
    <app-tags tagText="測試紀錄" [showCloseButton]="false"></app-tags>
  </div>
</div>
