.container{
    width: 156px;
    height: 172px;
    background-color: #E6FEF9;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .category-image{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .category-text{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #00313C;
    }
}