<div class="serving">
    <span class="time-text">時間</span>
    <div class="time-value" (click)="toggleDropdown()">
        <span class="selected-value">{{ selectedTime }}</span>
        <img 
            src="assets/icons/down-icon.svg" 
            alt="Down Icon" 
            class="down-icon"
            [class.rotated]="isDropdownOpen">
    </div>
    
    <!-- Dropdown options -->
    <div class="dropdown-menu" [class.open]="isDropdownOpen">
        <div 
            class="dropdown-option" 
            *ngFor="let option of timeOptions"
            (click)="selectTime(option)"
            [class.selected]="option === selectedTime">
            {{ option }}
        </div>
    </div>
</div>