.main-option{
    width: 282px;
    height: 100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    gap: 18px;

    .option-icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }

    .option-text{
      max-width: 190px;
    }
}