.pie-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .pie-chart {
      width: 100%;
      height: 100%;
      display: block; // Removes any inline spacing
    }
}