.clear-btn{
    width: 170px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #00313C;
    border-radius: 16px;
    color: #FFFFFF;
}