.main-container{
    height: 100%;
    width: 336px;
    background-color: #E6FEF9;
    border-radius: 16px;
    padding: 40px 45px;

    .content{
        width: 100%;
        height: 232px;

        display: flex;
        flex-direction: column;
        gap: 40px;

        .text{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2{
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                font-size: 20px;
                color: #00313C;
            }

            span{
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 12px;
                color: #00313C;
            }
        }

        .chart{
            width: 100%;
            height: 146px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}